<footer class="footer">
    <ul>
        <li>
            <p>Student: Chelsea Mayne (Slade)</p>
        </li>
        <li>
            <p>Class: Full-Stack Javascript </p>
        </li>
    </ul>
</footer>