<nav class="navBar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/restaurantmenu">Restaurant Menu</a>
        </li>
        <li>
            <a href="/menualerts">Menu Alerts</a>
        </li>
    </ul>
</nav>