<html lang="en">

<head>
    <title>Restaurant Menu</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <main class="main-content">
        <%= restaurantId %>
    </main>
</body>

</html>