/* Base styling, feel free to remove or alter */

body {
  background-color: rgb(109, 130, 167);
  height: 100vh;
  margin: 0px;
  font-family: "Lato", sans-serif;
  color: #f6f6f6;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.main-content h1 {
  font-size: 50px;
}

.main-content form {
  font-size: 15px;
}

.main-content form button {
  border: none;
  background: #f6f6f6;
  mix-blend-mode: screen;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/* Nav */

.navBar {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 80px;
}

.navBar ul {
  display: flex;
}

.navBar li {
  padding: 15px;
  list-style: none;
}

.navBar a {
  color: #152b5c;
  text-decoration: none;
}

.navBar a:visited {
  color: steelblue;
}

.navBar a:hover {
  color: rgb(52, 54, 58);
  transition: 0.7s;
}

/* Restaurant Menu Page */

.menuDisplay {
  min-height: 80vh;
  width: 100%;
}

.menuDisplay li {
  padding: 10px;
}

.featuredItem {
  margin: 5px;
}

/* Menu Alerts Page */

.specialsMenu {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialsMenu ul {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  align-items: center;
  padding: 10px;
}

.specialsMenu li {
  list-style: none;
}

/* Footer */

.footer {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 80px;
}

.footer ul {
  display: flex;
}

.footer li {
  font-size: small;
  padding: 20px;
  list-style: none;
  color: steelblue;
}
